
    <div class = "mainSelectAll">
 
		<img class = "mainSelect" width="1500" height="600" src="/resources/images/mainSelect1.png" alt="소개페이지"/>
		<img class = "mainSelect" width="1500" height="600" src="/resources/images/mainSelect2.png" alt="디자인하기"/>
		<img class = "mainSelect"  width="1200" height="600" src="/resources/images/mainSelect3.png" alt="고객센터"/>
		<img class = "mainSelect"  width="1200" height="600" src="/resources/images/mainSelect4.png" alt="이용방법"/>
     
	</div>
    
   