body{
    
}
.container{
  width: 39px;
  height: 32px;
  font-family: NanumBarunpen;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.body {
  width: 79px;
  height: 32px;
  font-family: NanumBarunpen;
  font-sie: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.layer {
  width: 78px;
  height: 32px;
  font-family: NanumBarunpen;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.layer {
  width: 77px;
  height: 32px;
  font-family: NanumBarunpen;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.layer {
  width: 56px;
  height: 22px;
  font-family: NanumBarunpen;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.layer {
  width: 69px;
  height: 22px;
  font-family: NanumBarunpen;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.layer {
  width: 41px;
  height: 22px;
  font-family: NanumBarunpen;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}