body {
  width: 1280px;
  height: 800px;
  background-color: #cdd1ff;
}

#cup {
    position:absolute;
    left : 49px;
    top : 128px;
  width: 708px;
  height: 339px;
  background-color: #ffffff;
  border: solid 3px #372a9b;
}

#setting {
    position :absolute;
    left : 766px;
    top : 220px;
  width: 465px;
  height: 247px;
  background-color: #ffffff;
  border: solid 3px #372a9b;
}

